# Типы данных в Python

Булыгин Олег  

* [LinkedIn](linkedin.com/in/obulygin)  
* [Telegram](https://t.me/obulygin91)  
* [facebook](fb.com/obulygin91)  
* [Vk](vk.com/obulygin91)  
* email: obulygin91@ya.ru  

[Сообщество по Python](https://yandex.ru/q/loves/pythontalk/) на Кью  
[Сообщество по Data Science и анализу данных](https://yandex.ru/q/loves/datatalk/) на Кью

## Списки (list)

**Список** (list) в Python — это упорядоченная изменяемая коллекция объектов произвольных типов.




В этом определении важна каждое слово. Мы будем к нему возвращаться по мере иллюстрации возможностей и свойств списков.



* Когда мы называем список коллекцией, мы имеем в виду, что в одном списке может храниться множество объектов (например, чисел или строковых величин) 


* Говоря о том, что списки представляют собой упорядоченные коллекции, мы обращаем внимание на то, что каждый элемент в списке имеет свой порядковый номер.


* Упоминание об изменяемости списков означает, что мы можем менять элементы списка уже после его объявления.


* Выражение «произвольных типов» означает, что в списке могут храниться данные, относящиеся к любым типам из тех, с которыми работает Python. *То есть это могут быть также другие списки и словари*

Список инициализируется при помощи [ ], элементы в списке разделяются запятыми.

In [ ]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

### Индексация и срезы (все аналогично строкам)
– доступ к элементам объекта по их порядковому номеру в нем. Индексация элементов начинается с нуля.

Получить значение элемента по индексу можно при помощи `[ ]`,
например: `my_string[0]` и `my_string[-6]` (при обратной индексации).

Можно “доставать” из строки несколько элементов при помощи “срезов” (slicing). Для указания интервала среза используется `:`

`list[START:STOP:STEP]` - берёт срез от номера `START`, до `STOP` не включая его, с шагом `STEP`. По умолчанию `START` = 0, `STOP` = длина объекта, `STEP` = 1. Какие-либо (а возможно, и все) параметры могут быть опущены.

In [ ]:
# индексация элементов в списке
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
print(month_list[2])
print('--------------')
print(month_list[-1])
print('--------------')
print(month_list[-4])

Mar
--------------
Sep
--------------
Jun

In [ ]:
# срезы
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
print(month_list[1:3])
print('--------------')
print(month_list[-8:-6])
print('--------------')
print(month_list[2:])
print('--------------')
print(month_list[:3])
print('--------------')
print(month_list[::2])
print('--------------')
print(month_list[4:8:3])
print('--------------')
print(month_list[::-1])

['Feb', 'Mar']
--------------
['Feb', 'Mar']
--------------
['Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
--------------
['Jan', 'Feb', 'Mar']
--------------
['Jan', 'Mar', 'May', 'Jul', 'Sep']
--------------
['May', 'Aug']
--------------
['Sep', 'Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

In [ ]:
# можно обращаться к любому уровню вложенности
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
print(income_by_months[0][0])

TypeError: ignored

**Практика**

В вашем распоряжении есть некоторая информация о пользователях банка и их статусе: ушли ли они от нас или нет. Необходимо организовать программу, которая:
  * Расчитает среднее по признаку кредитного рейтинга для ушедших клиентов
  * Выведет идентификаторы и фамилии клиентов, которые ушли от банка в формате: `Фамилия (id)`

In [ ]:
users = [
            [15634602, 15647311, 15619304, 15701354], # id
            ['Hargrave', 'Hill', 'Onio', 'Boni'], # фамилия
            [619, 608, 502, 699], # кредитный рейтинг
            ['Female', 'Female', 'Female', 'Female'], # пол
            [42, 41, 42, 39], # возраст
            [1, 0, 1, 0] # статус (1 - клиент активен, 0 - ушел)
         ]

In [ ]:
print((users[2][1] + users[2][3]) / 2)

653.5

In [ ]:
sredkred_= round(sum(users[2]) / len(users[2]), 2)
print('Средний кредитный рейтинг: ', sredkred_)

Средний кредитный рейтинг:  607.0

In [ ]:
print(users[0][0], users[1][0], users[0][2], users[1][2])

15634602 Hargrave 15619304 Onio

In [ ]:
print('{} ({})'.format(users[1][1], users[0][1])) 
print('{} ({})'.format(users[1][3], users[0][3]))

Hill(15647311)
Boni(15701354)

In [ ]:
print(f"{users[1][0]} ({users[1][0]}), {users[1][2]} ({users[0][2]})")

Hargrave (Hargrave), Onio (15619304)

### Списки — изменяемый тип данных

In [ ]:
# изменение списков
income_by_months[0][1] = 13100
print(income_by_months)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [ ]:
# можем заменять сразу срез
income_by_months[:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_months)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

### Операции со списками

Со всеми операциями над списками можно ознакомиться по [ссылке](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).

In [ ]:
# можем складывать списки
income_by_months_2 = [['Oct', 13200], ['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300], ['Oct', 13200], ['Nov', 15400], ['Dec', 17000]]

In [ ]:
# Удаляем элемент по индексу
print(income_by_months)
del(income_by_months[-1])
print(income_by_months)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200]]
[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900]]

In [ ]:
# удаляем элемент по значению
month_list.remove('Sep')
print(month_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']

In [ ]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
print(income_by_months)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Dec', 17000]]

In [ ]:
# добавляем элемент по нужному индексу
income_list.insert(2, 1111111)
print(income_list)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [ ]:
# считаем количество вхождений элемента в список
print(income_list.count(13000))

0

In [ ]:
# узнаем индекс элемента в списка (только первое вхождение!)
print(income_list.index(13000))
income_list.index(13000, 1)

0

6

In [ ]:
# разворачиваем список
month_list.reverse()
print(month_list)

['Sep', 'Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

Несколько функций, применительно к списка. Многие из них работают и с другими типами данных, читайте документацию :)

In [ ]:
# узнаем длину списка
print(len(income_list))

10

**Практика**

Определите длину каждого из этих списков

In [ ]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]

# print(len(d))

2

In [ ]:
# сумма элементов
print(sum(income_list))

1239611

In [ ]:
# максимальный элемент элементов
print(max(income_list))

1111111

In [ ]:
# минимальный элемент элементов
print(min(income_list))

13000

In [ ]:
# сортировка по возрастанию
print(sorted(income_list))

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300, 1111111]

In [ ]:
# изменить порядок сортировки
print(sorted(income_list, reverse=True))

[1111111, 15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [ ]:
# а это сортировка строк по алфавиту
print(sorted(month_list))

['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Sep']

In [ ]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

# преобразование строки в список (например, из CSV-файла)
# print(queries_string.split(','))

# Преобразование списка в строку

print(','.join(['Столбец 1', 'Столбец 2', 'Столбец 3']))

Столбец 1,Столбец 2,Столбец 3

In [ ]:
print(sorted(['Столбец 114363473467', 'Столбец 211', 'Столбец 3111'], key = lambda x: len(x))[-1])

Столбец 114363473467

Методы изменяемых типов данных всегда меняют исходный, объект, а не создают новый!  
Методы неизменыемых типов данных всегда возвращают новый объект и не меняют исходный.

In [ ]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

res = month_list.sort()
print(res)
print(month_list)

None
['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Sep']

In [ ]:
# надо так
month_list.sort()
print(month_list)

In [ ]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

sorted(month_list) # функция sorted создает новый объект
print(month_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

In [ ]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

res = sorted(month_list)
print(res)
print(month_list)

['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Sep']
['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

В примере ниже переменная `a` и `b` на самом деле указывают на один и тот же объект. В результате, при добавлении в `b` очередного элемента этот элемент добавляется и в исходном листе `a`. Это особенность всех изменяемых типов данных в Python

In [ ]:
x = 5
y = x

x += 1
print(y)

5

In [ ]:
a = [1, 2, 3]
b = a

In [ ]:
b.append(4)
print(a)

[1, 2, 3, 4]

In [ ]:
print(id(a))
print(id(b))

140582009999184
140582009999184

In [ ]:
# создаем копию объекта 
a = [1, 2, 3]
b = list(a)
b.append(4)
print(a)
print(b)
print(id(a))
print(id(b))

[1, 2, 3]
[1, 2, 3, 4]
140582010395376
140582009362544

In [ ]:
# создаем копию объекта (другой способ)
a = [1, 2, 3]
b = a.copy()
b.append(4)
print(a)
print(b)
print(id(a))
print(id(b))

[1, 2, 3]
[1, 2, 3, 4]
140582010102320
140582009287536

In [ ]:
# создаем копию объекта (еще способ)
a = [1, 2, 3]
b = a[:]
b.append(4)
print(a)
print(b)
print(id(a))
print(id(b))

[1, 2, 3]
[1, 2, 3, 4]
140582009554176
140582009309536

### Распаковка списков
С кортежами будет работать так же

In [ ]:
first, second, third = ['первый', 'второй', 'третий']
print(first)

первый

In [ ]:
# когда число элементов неизвестно
first, *other = ['первый', 'второй', 'третий']
print(first, other)

первый ['второй', 'третий']

In [ ]:
first, *other, last =  ['первый', 'второй', 'третий', 'четвертый']
print(first, last)
print(other)

первый четвертый
['второй', 'третий']

**Практика** 
4 участника гонок в начале занимали позиции согласно их порядку в представленном списке. Но к окончанию гонки первый участник оказался на последнем месте, а последний — на первом.  Измените список соответствущим образом максимально лаконично.

In [ ]:
racers = ['Schumacher', 'Hamilton', 'Alonso', 'Raikkonen']

In [ ]:
first, *other, last = ['1', '2', '3', '4'] 
first, last = last, first 

print(racers)

['Schumacher', 'Hamilton', 'Alonso', 'Raikkonen']

In [ ]:
a, *b, c = racers 
print(c, b, a) 

print(racers)

In [ ]:
racers[0], racers[-1] = racers[-1], racers[0] 
print(racers)

['Raikkonen', 'Hamilton', 'Alonso', 'Schumacher']

### Проверка вхождения элемента в коллекцию
(работает с любыми коллекциями, не только со списками)

In [ ]:
print('Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва'])
print('Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва'])

False
True

## Кортежы (tuple)

Это неизменяемые списки (нельзя добавлять или удалять элементы из уже созданного кортежа).
Кортежи инициализируется при помощи ( ). С ними будут работать любые операции, как над списками, кроме тех, которые меняют исходный объект.

Занимают меньше памяти.

In [ ]:
salary_tuple = (1000, 1200, 1300, 900, 800)
print(type(salary_tuple))

# можем без проблем менять типы сложных структут при помощи соответствующих функций
print(type(list(salary_tuple)))

<class 'tuple'>
<class 'list'>

In [ ]:
print(salary_tuple[0])
salary_tuple[0] = 500

1000

TypeError: ignored

In [ ]:
# кортеж из одного элемента задается так:
one_el_tuple = ('one', )

In [ ]:
# без запятой получится строка
print(type( ('one') ))

<class 'str'>

In [ ]:
salary_tuple = salary_tuple + salary_tuple 
print(salary_tuple)

(1000, 1200, 1300, 900, 800, 1000, 1200, 1300, 900, 800)

In [ ]:
# функция zip

month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_list_2 = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

income_by_month = zip(month_list, income_list, income_list_2)
# print(income_by_month)
print(list(income_by_month))

[('Jan', 13000, 13000), ('Feb', 14000, 14000), ('Mar', 14300, 14300), ('Apr', 15000, 15000), ('May', 13800, 13800), ('Jun', 13000, 13000), ('Jul', 14900, 14900), ('Aug', 15200, 15200), ('Sep', 15300, 15300)]

In [ ]:
for el in zip(month_list, income_list, income_list_2):
    print(el)

('Jan', 13000, 13000)
('Feb', 14000, 14000)
('Mar', 14300, 14300)
('Apr', 15000, 15000)
('May', 13800, 13800)
('Jun', 13000, 13000)
('Jul', 14900, 14900)
('Aug', 15200, 15200)
('Sep', 15300, 15300)

## Словари (dict)

**Словари** – коллекции произвольных объектов с доступом по ключу. В отличие от последовательностей, которые индексируются диапазоном чисел, словари индексируются по ключам, которые могут быть любым неизменяемым типом. Является изменяемым типом данных.

In [ ]:
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}

### Операции над словарями
Со всеми операциями над словарями можно ознакомиться по [ссылке](https://docs.python.org/3/library/stdtypes.html?highlight=dictionary#mapping-types-dict).

In [ ]:
# обращение к элементу словаря
print(salaries['John'])

1200

In [ ]:
# удаляем элемент из словаря
del(salaries['Liza'])
print(salaries)

{'John': 1200, 'Mary': 500, 'Steven': 1000}

In [ ]:
# добавляем элемент в словарь
salaries['James'] = 2000
print(salaries)

{'John': 1200, 'Mary': 500, 'Steven': 1000, 'James': 2000}

In [ ]:
# изменяем значение по ключу
salaries['Mary'] = 2000
print(salaries)

{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'James': 2000}

In [ ]:
# безопасно получаем значение по ключу
# salaries['Oleg']
print(salaries.get('Oleg', 'Not Found'))
print(salaries.get('Mary', 'Not Found'))

Not Found
2000

In [ ]:
# проверка на наличие ключа в словаре
# с условиями еще не знакомы, но будет на следующих занятиях
recruit = 'Amanda'

if recruit in salaries:
    print('Значение для ключа уже существует')
else:
    print('Добавляю новый ключ')
    salaries[recruit] = 2200

print(salaries)

Значение для ключа уже существует
{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'James': 2000, 'Amanda': 2200}

In [ ]:
# можно использовать метод setdefault
# setdefault не изменяет значение, если ключ уже был в словаре

# salaries.setdefault('Mary', 3000)
# print(salaries)
salaries.setdefault('Paul', 3000)
print(salaries)

{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'James': 2000, 'Amanda': 2200, 'Paul': 3000}

Часто бывает ситуация, что словарь необходимо дополнить. Тогда вам поможет метод `update()`

In [ ]:
employee_base = {
    'Мария Никитина': 'менеджер', 
    'Егор Савичев': 'разработчик',
    'Александр Пахомов': 'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров': 'верстальщик'}
new_base = {
    'Роман Родимов': 'HR менеджер',
    'Ксения Колесниченко': 'data scientist',
    'Андрей Округов': 'аналитик данных'
}
employee_base.update(new_base)
print(employee_base)

{'Мария Никитина': 'менеджер', 'Егор Савичев': 'разработчик', 'Александр Пахомов': 'дизайнер', 'Алина Егорова': 'разработчик', 'Руслан Башаров': 'верстальщик', 'Роман Родимов': 'HR менеджер', 'Ксения Колесниченко': 'data scientist', 'Андрей Округов': 'аналитик данных'}

In [ ]:
# перейдем к более сложному словарю
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [ ]:
print(staff_dict['Robert']['bonus'])
staff_dict['Robert']['bonus'] = 1243124, 325365
print(staff_dict)

[1243124, 325365]
{'Robert': {'salary': 800, 'bonus': (1243124, 325365)}, 'Jane': {'salary': 200, 'bonus': 300}, 'Liza': {'salary': 1300, 'bonus': 200}, 'Richard': {'salary': 500, 'bonus': 1200}, 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [ ]:
staff_dict['Oleg'] = {'salary': 1000000, 'bonus': 300}
print(staff_dict)

{'Robert': {'salary': 800, 'bonus': 200}, 'Jane': {'salary': 200, 'bonus': 300}, 'Liza': {'salary': 1300, 'bonus': 200}, 'Richard': {'salary': 500, 'bonus': 1200}, 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [ ]:
# получаем только ключи/значения из словаря (очень пригодиться далее в циклах)
# print(staff_dict.keys())
# print(staff_dict.values())
# print(staff_dict.items())

print(list(staff_dict.keys()))
print(list(staff_dict.values()))
print(list(staff_dict.items()))

['Robert', 'Jane', 'Liza', 'Richard', 'Oleg']
[{'salary': 800, 'bonus': (1243124, 325365)}, {'salary': 200, 'bonus': 300}, {'salary': 1300, 'bonus': 200}, {'salary': 500, 'bonus': 1200}, {'salary': 1000000, 'bonus': 300}]
[('Robert', {'salary': 800, 'bonus': (1243124, 325365)}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})]

Создание словарей из двух последовательностей можно осуществить с помощью функции `zip`:

In [ ]:
fruits = ['Банан', 'Яблоко', 'Персик', 'Манго', 'Апельсин']
prices = ['76 рублей', '88 рублей', '137 рублей', '200 рублей', '130 рублей']
fruit_dict = dict(zip(fruits, prices))
print(fruit_dict)

{'Банан': '76 рублей', 'Яблоко': '88 рублей', 'Персик': '137 рублей', 'Манго': '200 рублей', 'Апельсин': '130 рублей'}

Как вы уже поняли, сложные вещи в этом мире тяжело описать простыми структурами, поэтому ровно так же как существуют вложенные списки, существуют и вложенные словари.

Рассмотрим такую структуру на примере конфигурации сервера

In [ ]:
# Часто встречается при работе с конфигурационными файлами, JSON схемами и не только
config = {
    "server": {
        "host": "127.0.0.1",
        "port": "22"
    },
    "configuration": {
        "ssh": {
            "access": True,
            "login": "some_login",
            "password": "some_password"
        },
        "name": "2491Oaaf1414"
    }
}

**Практика**  
Выведете на экран реквизиты и логин в формате:  
`Имя пользователя: name, реквизиты: login+parol`

In [ ]:
print(f'Имя пользователя: {config["configuration"]["name"]}, реквизиты: \
{config["configuration"]["ssh"]["login"]} + \
{config["configuration"]["ssh"]["password"]}')

Имя пользователя: 2491Oaaf1414, реквизиты: some_login + some_password

## Где такие сложные структуру можно встретить в реальной практике?

In [ ]:
import requests
import time
params = {
    'access_token': '958eb5d439726565e9333aa30e50e0f937ee432e927f0dbd541c541887d919a7c56f95c04217915c32008',
    'v':'5.131',
    'q': 'SkillFactory',
    'start_from': '',
    'count': 200,
    'extended': 1
}   
res = []
while True:

    result = requests.get('https://api.vk.com/method/newsfeed.search', params)
    time.sleep(0.33)
    res += result.json()['response']['items']
    if 'next_from' in result.json()['response'].keys():
        params['start_from'] = result.json()['response']['next_from']
    else:
        break

In [ ]:
print(type(res))
print(len(res))

<class 'list'>
939

In [ ]:
from pprint import pprint
pprint(res[0])

{'attachments': [{'link': {'caption': 'm.vk.com',
                           'description': 'Статья',
                           'photo': {'album_id': -27,
                                     'date': 1642194271,
                                     'has_tags': False,
                                     'id': 457381049,
                                     'owner_id': 2000021243,
                                     'sizes': [{'height': 69,
                                                'type': 's',
                                                'url': 'https://sun9-77.userapi.com/impg/NKH0D5xM43gbQ23Is0obcbIPigAFOLZhWia5-g/elwfzAn1dVc.jpg?size=75x69&quality=96&sign=e613c79bea72a86e3f0045a7961e76f0&c_uniq_tag=0Woo0KCawYv1SpBqr3HUZoVoWVYyHR1z9t8cbQoSGKc&type=album',
                                                'width': 75},
                                               {'height': 119,
                                                'type': 'm',
                                                'url': 'https://sun9-77.userapi.com/impg/NKH0D5xM43gbQ23Is0obcbIPigAFOLZhWia5-g/elwfzAn1dVc.jpg?size=130x119&quality=96&sign=bf5aa0a51aa682cb3e51009dbc1d611a&c_uniq_tag=r0i6HynxjEJ-s7R5o5AtQcbX-36ya3u2qtBCD6_Kfxg&type=album',
                                                'width': 130},
                                               {'height': 476,
                                                'type': 'x',
                                                'url': 'https://sun9-77.userapi.com/impg/NKH0D5xM43gbQ23Is0obcbIPigAFOLZhWia5-g/elwfzAn1dVc.jpg?size=518x476&quality=96&sign=73763b653b7e5933eb7a93e862dd141d&c_uniq_tag=PdUXsd-5z9HqSKyZxoy5XFfjUjgGcHUHyCKGjiKwIus&type=album',
                                                'width': 518},
                                               {'height': 119,
                                                'type': 'o',
                                                'url': 'https://sun9-77.userapi.com/impg/NKH0D5xM43gbQ23Is0obcbIPigAFOLZhWia5-g/elwfzAn1dVc.jpg?size=130x119&quality=96&sign=bf5aa0a51aa682cb3e51009dbc1d611a&c_uniq_tag=r0i6HynxjEJ-s7R5o5AtQcbX-36ya3u2qtBCD6_Kfxg&type=album',
                                                'width': 130},
                                               {'height': 184,
                                                'type': 'p',
                                                'url': 'https://sun9-77.userapi.com/impg/NKH0D5xM43gbQ23Is0obcbIPigAFOLZhWia5-g/elwfzAn1dVc.jpg?size=200x184&quality=96&sign=888f3fd14d30e3398e82370780d6090a&c_uniq_tag=jZlJ6mtlS9t6a09W9sb9yiCRy_S1nVvKVELcb8QMrWo&type=album',
                                                'width': 200},
                                               {'height': 294,
                                                'type': 'q',
                                                'url': 'https://sun9-77.userapi.com/impg/NKH0D5xM43gbQ23Is0obcbIPigAFOLZhWia5-g/elwfzAn1dVc.jpg?size=320x294&quality=96&sign=a06a97d6e62fa5659a17994e920c7e44&c_uniq_tag=UHpoPGlx0bluSfBEP-dBMOBZSEMJGtm307Qm9eNTBWw&type=album',
                                                'width': 320},
                                               {'height': 469,
                                                'type': 'r',
                                                'url': 'https://sun9-77.userapi.com/impg/NKH0D5xM43gbQ23Is0obcbIPigAFOLZhWia5-g/elwfzAn1dVc.jpg?size=510x469&quality=96&sign=e6575de902c7135259006eb0b10c53f5&c_uniq_tag=WzObG-G8xOqvOgMSzsiwgIQXOQhaKlxCS7Gz1jB4Mvk&type=album',
                                                'width': 510}],
                                     'text': ''},
                           'title': 'Как решить популярную в 2022 головоломку '
                                    'Wordle на Python',
                           'url': 'https://m.vk.com/@yinyangphilosophy-rss-767241001-887880549'},
                  'type': 'link'}],
 'comments': {'can_post': 1, 'count': 0, 'groups_can_post': True},
 'date': 1642194271,
 'donut': {'is_donut': False},
 'from_id': -72739547,
 'id': 15506,
 'is_favorite': False,
 'likes': {'can_like': 1, 'can_publish': 1, 'count': 0, 'user_likes': 0},
 'marked_as_ads': 0,
 'owner_id': -72739547,
 'post_source': {'type': 'rss'},
 'post_type': 'post',
 'reposts': {'count': 0, 'user_reposted': 0},
 'short_text_rate': 0.8,
 'text': 'К старту курса по Fullstack-разработке на Python рассказываем, как '
         'решать Wordle. Worlde — новая головоломка, которая захватила '
         'внимание множества людей по всему миру. За подробностями приглашаем '
         'под кат.',
 'views': {'count': 32}}

In [ ]:
pprint(res[150]['likes']['count'])
pprint(res[150]['reposts']['count'])

1
1

In [ ]:
import pandas as pd
pd.DataFrame(res)

        id        date   owner_id  ...  signer_id copy_history  geo
0    15506  1642194271  -72739547  ...        NaN          NaN  NaN
1     1542  1642178306  542111512  ...        NaN          NaN  NaN
2     6703  1642177974  324436665  ...        NaN          NaN  NaN
3      902  1642176993  534985152  ...        NaN          NaN  NaN
4      777  1642176976  534960534  ...        NaN          NaN  NaN
..     ...         ...        ...  ...        ...          ...  ...
934   1631  1633659416 -160454589  ...        NaN          NaN  NaN
935   8698  1633646545 -141424662  ...        NaN          NaN  NaN
936  51836  1633642417  164536440  ...        NaN          NaN  NaN
937   2261  1633637008 -178685698  ...        NaN          NaN  NaN
938  21615  1633635705 -195210130  ...        NaN          NaN  NaN

[939 rows x 21 columns]

## Множества (set)
Набор неповторяющихся элементов в случайном порядке. Они необходимы тогда, когда присутствие объекта в наборе важнее порядка или того, сколько раз данный объект там встречается.

Множества инициализируется при помощи set(), как правило создаются из списков.

Реализуют теорию множеств в Python.

In [ ]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [ ]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

{'Hadoop', 'Java', 'Scala', 'SAS', 'R', 'Tableau', 'Python', 'Git', 'SQL'}
{'Hadoop', 'Java', 'Scala', 'SAS', 'R', 'Tableau', 'Python', 'Git', 'SQL'}

In [ ]:
# логическое И – что нужно знать и data-scientist и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

{'Python', 'Git', 'SQL'}
{'Python', 'Git', 'SQL'}

In [ ]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
print(data_scientist_skills.difference(data_engineer_skills))
print(data_scientist_skills - data_engineer_skills)
print(data_engineer_skills.difference(data_scientist_skills))
print(data_engineer_skills - data_scientist_skills)

{'SAS', 'R', 'Tableau'}
{'SAS', 'R', 'Tableau'}
{'Hadoop', 'Scala', 'Java'}
{'Hadoop', 'Scala', 'Java'}

In [ ]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
print(data_scientist_skills.symmetric_difference(data_engineer_skills))
print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

{'Hadoop', 'Scala', 'SAS', 'Java', 'R', 'Tableau'}
{'Hadoop', 'Scala', 'SAS', 'Java', 'R', 'Tableau'}
{'Hadoop', 'Scala', 'SAS', 'Java', 'R', 'Tableau'}
{'Hadoop', 'Scala', 'SAS', 'Java', 'R', 'Tableau'}

In [ ]:
# Из списка можно убрать все повторения просто обратив его в set!

### Спасибо за внимание! Буду рад ответить на ваши вопросы
Форма ОС: https://forms.gle/y8xaFwJqtbFSjUeG8

## Рекомендуемые материалы

1. Тренажеры:
  - hackerrank.com
  - checkio.org
  - leetcode.com
  - codewars.com
  - luxcity.geecko.com

2. Литература:
 - А Byte of Python [англ. версия](https://python.swaroopch.com/), [рус. перевод](https://wombat.org.ua/AByteOfPython/AByteofPythonRussian-2.02.pdf). Легально, бесплатно, без СМС и регистрации.
 - Адитья Бхаргава, Грокаем алгоритмы. [На бумаге](https://bit.ly/3c4Drq3), [Электронная](https://bit.ly/3h9bdgz). Бесплатно сами.