Базовые операции со столбцами DataFrame

Создание копии таблицы

In [168]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

чтобы не переопределять переменную melb_data и тем самым не повредить первоначальный DataFrame, создадим копию melb_df с помощью метода copy():

In [169]:
melb_df = melb_data.copy()
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

За удаление строк и столбцов в таблице отвечает метод drop().

        labels — порядковые номера или имена столбцов, которые подлежат удалению; если их несколько, то передаётся список;
        axis — ось совершения операции, axis=0 — удаляются строки, axis=1 — удаляются столбцы;
        inplace — если параметр выставлен на True, происходит замена изначального DataFrame на новый, при этом метод ничего не возвращает; если на False — возвращается копия DataFrame, из которой удалены указанные строки (столбцы), при этом первоначальный DataFrame не изменяется; по умолчанию параметр равен False.

In [170]:
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
melb_df.info()

#Альтернативный вариант:
#melb_df.drop(['index','Coordinates'],axis=1,inplace=True)
#melb_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom        13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13580 non-null  int64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  YearBuilt      13580 non-null  int64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  int64
dtypes: float64(6), int64(7), object(8)
memory usage: 2.2+ MB

Математические операции со столбцами

Например, давайте создадим переменную total_rooms, в которой будем хранить общее количество комнат в здании. Для этого выполним сложение столбцов с количеством комнат, ванн и спален:

In [171]:
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
display(total_rooms)

0         5
1         5
2         8
3         8
4         8
         ..
13575    10
13576     8
13577     8
13578     9
13579     9
Length: 13580, dtype: int64

А теперь введём признак MeanRoomsSquare, который соответствует средней площади одной комнаты для каждого объекта. Для этого разделим площадь здания на полученное ранее общее количество комнат:

In [172]:
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
display(melb_df['MeanRoomsSquare'])

0        25.200000
1        15.800000
2        18.750000
3        15.750000
4        17.750000
           ...
13575    12.600000
13576    16.625000
13577    15.750000
13578    17.444444
13579    12.444444
Name: MeanRoomsSquare, Length: 13580, dtype: float64

In [173]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Address          13580 non-null  object
 2   Rooms            13580 non-null  int64
 3   Type             13580 non-null  object
 4   Price            13580 non-null  float64
 5   Method           13580 non-null  object
 6   SellerG          13580 non-null  object
 7   Date             13580 non-null  object
 8   Distance         13580 non-null  float64
 9   Postcode         13580 non-null  int64
 10  Bedroom          13580 non-null  int64
 11  Bathroom         13580 non-null  int64
 12  Car              13580 non-null  int64
 13  Landsize         13580 non-null  float64
 14  BuildingArea     13580 non-null  float64
 15  YearBuilt        13580 non-null  int64
 16  CouncilArea      12211 non-null  object
 17  Lattitude        13580 non-null  float64
 18  Longtitude       13580 non-null  float64
 19  Regionname       13580 non-null  object
 20  Propertycount    13580 non-null  int64
 21  MeanRoomsSquare  13580 non-null  float64
dtypes: float64(7), int64(7), object(8)
memory usage: 2.3+ MB

Можно ввести ещё один интересный признак — AreaRatio, коэффициент соотношения площади здания (BuildingArea) и площади участка (Landsize). Для этого разницу двух площадей поделим на их сумму:

In [174]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
display(melb_df['AreaRatio'])

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64

Решение задач

In [175]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

av_density = countries_df['population']*1000000 / countries_df['square']
display(round(av_density.mean(),2))

84.93

Работа с датами в DataFrame
Признаки даты и времени

Формат datetime
который записывается как YYYY-MM-DD HH: MM: SS

In [176]:
display(melb_df['Date'])

0         3/12/2016
1         4/02/2016
2         4/03/2017
3         4/03/2017
4         4/06/2016
            ...
13575    26/08/2017
13576    26/08/2017
13577    26/08/2017
13578    26/08/2017
13579    26/08/2017
Name: Date, Length: 13580, dtype: object

In [177]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True) #параметр dayfirst=True, который будет обозначать, что в первоначальном признаке первым идет день.
display(melb_df['Date']) #изменился тип данных для столбца Date, теперь его тип — datetime64

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

Выделение атрибутов datetime:

        date — дата;
        year, month, day — год, месяц, день;
        time — время;
        hour, minute, second — час, минута, секунда;
        dayofweek — номер дня недели, от 0 до 6, где 0 — понедельник, 6 — воскресенье;
        day_name — название дня недели;
        dayofyear — порядковый день года;
        quarter — квартал (интервал в три месяца).

Например, обратившись по атрибуту dt.year в столбце Date, мы можем «достать» год продажи и понять, за какой интервал времени (в годах) представлены наши данные, а также на какой год приходится наибольшее число продаж:

In [178]:
years_sold = melb_df['Date'].dt.year
print(years_sold)
print('Min year sold:', years_sold.min())
print('Max year sold:', years_sold.max())
print('Mode year sold:', years_sold.mode()[0])

0        2016
1        2016
2        2017
3        2017
4        2016
         ...
13575    2017
13576    2017
13577    2017
13578    2017
13579    2017
Name: Date, Length: 13580, dtype: int64
Min year sold: 2016
Max year sold: 2017
Mode year sold: 2017

Теперь попробуем понять, на какие месяцы приходится пик продаж объектов недвижимости. Для этого выделим атрибут dt.month и на этот раз занесём результат в столбец MonthSale, а затем найдём относительную частоту продаж для каждого месяца от общего количества продаж — для этого используем метод value_counts() с параметром normalize (вывод в долях):

In [179]:
melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: MonthSale, dtype: float64

Работа с интервалами

In [180]:
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01') 
display(delta_days) #данные такого формата относятся к типу timedelta.

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

Чтобы превратить количество дней из формата интервала в формат целого числа дней, можно воспользоваться аксессором dt для формата timedelta и извлечь из него атрибут days:

In [181]:
display(delta_days.dt.days)

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

Рассмотрим другой пример. Давайте создадим признак возраста объекта недвижимости в годах на момент продажи. Для этого выделим из столбца с датой продажи год и вычтем из него год постройки здания. Результат оформим в виде столбца AgeBuilding:

In [182]:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
display(melb_df['AgeBuilding'])

0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBuilding, Length: 13580, dtype: int64

In [183]:
melb_df = melb_df.drop('YearBuilt', axis=1)

Задание - Создайте в таблице melb_df признак WeekdaySale (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count. В качестве ответа введите результат вывода переменной weekend_count.

In [184]:
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df['WeekdaySale'].value_counts()[5]+melb_df['WeekdaySale'].value_counts()[6]
display(weekend_count)

12822

In [185]:
ufo = pd.read_csv('data/ufo.csv', sep=',')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [186]:
ufo['Time'] = pd.to_datetime(ufo['Time'], dayfirst=False)
ufo.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [187]:
ufo_year = ufo['Time'].dt.year
display(ufo_year.mode())

0    1999
dtype: int64

In [188]:
ufo_date = ufo[ufo['State']=='NV']['Time'].dt.date.diff()
ufo_date = ufo_date.dt.days
display(round(ufo_date.mean(), 0))

69.0

Создание и преобразование столбцов с помощью функций

с помощью написания собственных функций и их комбинирования с методом apply() из библиотеки Pandas мы сможем извлечь информацию из признака с адресом и заменить на признак подтипа улицы.

In [189]:
print(melb_df['Address'].nunique())

13378

In [190]:
print(melb_df['Address'].loc[177])
print(melb_df['Address'].loc[1812])
print(melb_df['Address'].loc[9001])

2/119 Railway St N
9/400 Dandenong Rd
172 Danks St

In [191]:
# На вход данной функции поступает строка с адресом.
def get_street_type(address):
# Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
# Метод split() разбивает строку на слова по пробелу.
# В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(' ')
# Обрезаем список, оставляя в нём только последний элемент,
# потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
# Делаем проверку на то, что полученный подтип является географической пометкой.
# Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
# Если переменная street_type является географической пометкой,
# переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
# Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

In [192]:
street_types = melb_df['Address'].apply(get_street_type)
display(street_types)

0        St
1        St
2        St
3        La
4        St
         ..
13575    Cr
13576    Dr
13577    St
13578    St
13579    St
Name: Address, Length: 13580, dtype: object

In [193]:
print(street_types.nunique())

56

In [194]:
street_types = street_types.apply(lambda x: 'Av' if x == 'Avenue' else x)
street_types = street_types.apply(lambda x: 'Bvd' if x == 'Boulevard' else x)
street_types = street_types.apply(lambda x: 'Pde' if x == 'Parade' else x)

In [195]:
display(street_types.value_counts())

St           8012
Rd           2825
Ct            612
Dr            447
Av            361
Gr            311
Pde           226
Pl            169
Cr            152
Cl            100
La             67
Bvd            66
Tce            47
Wy             40
Cct            25
Hwy            24
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Mews            4
Grn             4
Fairway         4
Gdns            4
Righi           3
Crossway        3
Esp             2
Victoria        2
Ridge           2
Crofts          2
Grand           1
Summit          1
Hts             1
Athol           1
Highway         1
Outlook         1
Woodland        1
Ave             1
Gra             1
Terrace         1
Eyrie           1
Dell            1
East            1
Loop            1
Nook            1
Glade           1
Qy              1
Cove            1
Res             1
Grange          1
Corso           1
Name: Address, dtype: int64

In [196]:
popular_stypes =street_types.value_counts().nlargest(10).index
print(popular_stypes)

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

In [197]:
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df['StreetType'])

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

In [198]:
print(melb_df['StreetType'].nunique())

11

In [199]:
melb_df = melb_df.drop('Address', axis=1)

Задание

Ранее, в задании 3.3, мы создали признак WeekdaySale в таблице melb_df — день недели продажи. Из полученных в задании результатов можно сделать вывод, что объекты недвижимости в Мельбурне продаются преимущественно по выходным (суббота и воскресенье).

Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.

Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых.

In [200]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)

In [201]:
round(melb_df[melb_df['Weekend']==1]['Price'].mean(),0)

1081199.0

Задание

Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.

Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [202]:
Popular_sellers = melb_df['SellerG'].value_counts().nlargest(49)
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in Popular_sellers else 'other')
round(melb_df[melb_df['SellerG']=='Nelson']['Price'].min() / melb_df[melb_df['SellerG']=='other']['Price'].min(), 1)

1.3

Представьте, что вы занимаетесь подготовкой данных о вакансиях с платформы hh.ru. В вашем распоряжении имеется таблица, в которой с помощью парсинга собраны резюме кандидатов. В этой таблице есть текстовый столбец «Опыт работы». Пример такого столбца представлен ниже в виде объекта Series. Структура текста в столбце фиксирована и не может измениться.

Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.

Обратите внимание, что опыт работы может выражаться только в годах или только в месяцах. Учтите это при построении своей функции. Кроме того, учтите возможные вариации слов месяц (месяца, месяцев) и год (года, лет).

Примените вашу функцию к Series experience_col с помощью метода apply().

In [203]:
import pandas as pd

def get_experience(arg):
    """
    Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. 
    Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.
    """
    split_list = arg.split(' ')
    if len(split_list[3]) > 4:
        experience = int(split_list[2])
    elif len(split_list) > 4:
        experience = int(split_list[2]) * 12 + int(split_list[4])
    else:
        experience = int(split_list[2]) * 12
        
    return experience

if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    experience_month = experience_col.apply(get_experience)
    print(experience_month)

0    99
1    41
2    21
3     3
4    72
dtype: int64

Тип данных Category

Признаки: категориальные и числовые

Под числовыми признаками обычно подразумевают признаки, которые отражают количественную меру и могут принимать значения из неограниченного диапазона.

Числовые признаки могут быть:

        дискретными (например, количество комнат, пациентов, дней, отток сотрудников);
        непрерывными (например, масса, цена, площадь).

Дискретные признаки чаще всего представлены целыми числами, а непрерывные — целыми числами и числами с плавающей точкой.

Под категориальными признаками обычно подразумевают столбцы в таблице, которые обозначают принадлежность объекта к какому-то классу/категории.

Категориальные признаки могут быть:

        номинальными (например, пол, национальность, район);
        порядковыми (например, уровень образования, уровень комфорта, стадия заболевания).
Такие признаки имеют ограниченный набор значений. Они чаще всего представлены в виде текстового описания и кодируются в Pandas типом данных object.

Категории в данных о недвижимости

In [204]:
# создаём пустой список
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, melb_df[col].nunique(),melb_df[col].dtype) 
    # добавляем кортеж в список
    unique_list.append(item) 
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
display(unique_counts)

        Column_Name  Num_Unique            Type
0           Weekend           2           int64
1              Type           3          object
2            Method           5          object
3       WeekdaySale           5           int64
4        Regionname           8          object
5          Bathroom           9           int64
6             Rooms           9           int64
7               Car          11           int64
8        StreetType          11          object
9           Bedroom          12           int64
10        MonthSale          12           int64
11      CouncilArea          33          object
12          SellerG          50          object
13             Date          58  datetime64[ns]
14      AgeBuilding         152           int64
15         Postcode         198           int64
16         Distance         202         float64
17    Propertycount         311           int64
18           Suburb         314          object
19     BuildingArea         602         float64
20  MeanRoomsSquare        1277         float64
21         Landsize        1448         float64
22            Price        2204         float64
23        Lattitude        6503         float64
24        AreaRatio        6521         float64
25       Longtitude        7063         float64

Тип данных category


→ Этот тип данных является гибридным: внешне он выглядит как строка, но внутренне представлен массивом целых чисел. Так как данные вместо изначальных строк хранятся в памяти как число, то объём памяти, занимаемой таблицей при использовании типа category, резко уменьшается, что повышает эффективность хранения и работы с таблицей.

→ Более того, этот тип данных расширяет возможности работы с категориальными признаками: мы можем легко преобразовывать категории, строить графики по таким данным (что сложно сделать для типа данных object). Также резко повышается производительность операций, совершаемых с такими столбцами.

In [205]:
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  object
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  object
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  int64
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(10), object(7)
memory usage: 2.7+ MB

None

In [206]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(9), datetime64[ns](1), float64(8), int64(7), object(1)
memory usage: 1.9+ MB

None

Получение атрибутов category

У типа данных category есть свой специальный аксесcор cat, который позволяет получать информацию о своих значениях и преобразовывать их. Например, с помощью атрибута этого аксессора categories мы можем получить список уникальных категорий в столбце Regionname:

In [207]:
print(melb_df['Regionname'].cat.categories)

Index(['Eastern Metropolitan', 'Eastern Victoria', 'Northern Metropolitan',
       'Northern Victoria', 'South-Eastern Metropolitan',
       'Southern Metropolitan', 'Western Metropolitan', 'Western Victoria'],
      dtype='object')

А теперь посмотрим, каким образом столбец кодируется в виде чисел в памяти компьютера. Для этого можно воспользоваться атрибутом codes:

In [208]:
display(melb_df['Regionname'].cat.codes)

0        2
1        2
2        2
3        2
4        2
        ..
13575    4
13576    6
13577    6
13578    6
13579    6
Length: 13580, dtype: int8

С помощью метода аксессора rename_categories() можно легко переименовать текущие значения категорий. Для этого в данный метод нужно передать словарь, ключи которого — старые имена категорий, а значения — новые.

Рассмотрим на примере: переименуем категории признака типа постройки Type — заменим их на полные названия (напомним, u — unit, h — house, t — townhouse).

In [209]:
melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    't': 'townhouse',
    'h': 'house'
})
display(melb_df['Type'])

0        house
1        house
2        house
3        house
4        house
         ...
13575    house
13576    house
13577    house
13578    house
13579    house
Name: Type, Length: 13580, dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

Подводные камни

А теперь представим ситуацию, что появилась новая партия домов и теперь мы продаём и квартиры (flat). Создадим объект Series new_houses_types, в котором будем хранить типы зданий новой партии домов. Преобразуем тип new_houses_types в такой же тип, как и у столбца Type в таблице melb_data, и выведем результат на экран:

In [210]:
new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)

0     unit
1    house
2      NaN
3      NaN
4    house
dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

На самом деле причина проста: тип данных category хранит только категории, которые были объявлены при его инициализации. При встрече с новой, неизвестной ранее категорией, этот тип превратит её в пустое значение, так как он просто не знает о существовании этой категории.

Решить эту проблему на самом деле не сложно. Можно добавить категорию flat в столбец Type с помощью метода акссесора cat add_categories(), в который достаточно просто передать имя новой категории:

In [211]:
melb_df['Type'] = melb_df['Type'].cat.add_categories('flat')
new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)

0     unit
1    house
2     flat
3     flat
4    house
dtype: category
Categories (4, object): ['house', 'townhouse', 'unit', 'flat']

Примечание. Добавление новой категории в столбец Type не отразится на самом столбце — текущие категории не изменятся, однако такое преобразование позволит добавлять в таблицу новые данные о домах с новой категорией — flat.

Задание

При преобразовании столбцов таблицы о недвижимости к типу category мы оставили без внимания столбец Suburb (пригород). Давайте исправим это.

    С помощью метода info() узнайте, сколько памяти занимает таблица melb_df.
    Преобразуйте признак Suburb следующим образом: оставьте в столбце только 119 наиболее популярных пригородов, остальные замените на 'other'.
    Приведите данные в столбце Suburb к категориальному типу.

В качестве ответа запишите разницу между объёмом занимаемой памяти до преобразования (который мы получили ранее в модуле) и после него в Мб. Ответ округлите до десятых.

In [212]:
melb_df.info()

df_size_0 = 1.9

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(9), datetime64[ns](1), float64(8), int64(7), object(1)
memory usage: 1.9+ MB

In [213]:
Suburb_list = melb_df['Suburb'].value_counts().nlargest(119)
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in Suburb_list else 'other')
melb_df['Suburb'] = melb_df['Suburb'].astype('category')
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB

Закрепление знаний (задача о велоспорте)

In [214]:
bicycle_list = pd.read_csv('data/citibike-tripdata.csv', sep=',')
display(bicycle_list.head())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [215]:
#Сколько пропусков в столбце start station id?
import numpy as np
bicycle_list[pd.isna(bicycle_list['start station id'])].shape[0]

169

In [216]:
bicycle_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [217]:
bicycle_list['bikeid'].mode()

0    33887
dtype: int64

In [218]:
bicycle_list['usertype'].describe(include=object)
232202/300000

0.7740066666666666

In [219]:
bicycle_list[bicycle_list['gender']==1].shape[0]

183582

In [220]:
bicycle_list[bicycle_list['gender']==2].shape[0]

74506

In [221]:
bicycle_list['start station id'].nunique()

759

In [222]:
bicycle_list['end station id'].nunique()

765

In [223]:
bicycle_list['start station name'].unique()

array(['MacDougal St & Washington Sq', 'Cadman Plaza West & Montague St',
       '1 Ave & E 62 St', 'St James Pl & Oliver St', 'W 13 St & 6 Ave',
       '31 St & 23 Ave', 'Christopher St & Greenwich St',
       'Broadway & E 14 St', 'Fulton St & Broadway',
       'Lenox Ave & W 115 St', 'Stagg St & Union Ave',
       'Broadway & W 51 St', '3 Ave & E 62 St', '9 Ave & W 45 St',
       'Bergen St & Vanderbilt Ave', 'Bedford Ave & Nassau Ave',
       'Clinton St & Grand St', 'Smith St & 3 St', 'Avenue D & E 3 St',
       'St Marks Pl & 2 Ave', 'W 31 St & 7 Ave', 'St Marks Pl & 1 Ave',
       '37 Ave & 35 St', 'Johnson St & Gold St',
       'South End Ave & Liberty St', 'W 22 St & 8 Ave',
       'Pier 40 - Hudson River Park', '44 Dr & Jackson Ave',
       'S 5 Pl & S 5 St', 'N 8 St & Driggs Ave', 'Forsyth St & Canal St',
       'E 6 St & Avenue B', 'Lafayette St & E 8 St', '24 St & 41 Ave',
       '1 Ave & E 16 St', 'Carroll St & 5 Ave',
       'Sullivan St & Washington Sq', 'Vernon Blvd & 47 Rd',
       'Lenox Ave & W 111 St', 'Mott St & Prince St', '31 Ave & 34 St',
       'Cleveland Pl & Spring St', 'E 55 St & 3 Ave',
       'Court St & Nelson St', 'E 13 St & Avenue A', '1 Ave & E 18 St',
       'Grand Army Plaza & Central Park S', 'Crescent St & 30 Ave',
       'E 35 St & 3 Ave', 'Washington Pl & 6 Ave', 'E 33 St & 1 Ave',
       'E 2 St & Avenue A', 'E 118 St & 3 Ave',
       'Cooper Square & Astor Pl', 'E 53 St & 3 Ave',
       '21 St & Queens Plaza North', 'West Thames St',
       'Canal St & Rutgers St', '1 Ave & E 30 St', 'Bergen St & Smith St',
       'W 34 St & 11 Ave', 'Bus Slip & State St',
       'West Drive & Prospect Park West', 'Metropolitan Ave & Meeker Ave',
       'Graham Ave & Grand St', 'Lawrence St & Willoughby St',
       '11 Ave & W 27 St', 'Macon St & Nostrand Ave',
       'Queens Plaza North & Crescent St', 'Franklin Ave & St Marks Ave',
       'W 49 St & 8 Ave', 'Peck Slip & Front St', '5 Ave & E 29 St',
       '6 Ave & 9 St', 'W 20 St & 8 Ave', '11 Ave & W 59 St',
       'W 44 St & 5 Ave', '5 St & 51 Ave', 'Underhill Ave & Lincoln Pl',
       'S 4 St & Wythe Ave', 'Howard St & Centre St',
       'University Pl & E 14 St', 'Dean St & 4 Ave',
       'Little West St & 1 Pl', 'W 47 St & 10 Ave',
       'Grand St & Elizabeth St', 'W 16 St & 8 Ave', 'W 20 St & 7 Ave',
       'W 33 St & 7 Ave', 'W 45 St & 8 Ave', 'Fulton St & Grand Ave',
       'Fulton St & Rockwell Pl', 'MacDougal St & Prince St',
       'Pleasant Ave & E 116 St', 'E 25 St & 2 Ave', 'Avenue D & E 8 St',
       '2 Ave & E 31 St', 'Old Fulton St', 'E 12 St & 3 Ave',
       'Ditmars Blvd & 19 St', 'Wythe Ave & Metropolitan Ave',
       'Amsterdam Ave & W 82 St', 'Mercer St & Bleecker St',
       '35 St & Broadway', 'Pike St & E Broadway', 'Centre St & Worth St',
       'Adam Clayton Powell Blvd & W 118 St',
       'Flushing Ave & Vanderbilt Ave', '1 Ave & E 94 St',
       'Pershing Square North', 'Cathedral Pkwy & Broadway',
       'Centre St & Chambers St', 'Douglass St & 4 Ave',
       '1 Ave & E 78 St', 'E 11 St & 2 Ave', 'N 6 St & Bedford Ave',
       '36 Ave & 10 St', 'Center Blvd & Borden Ave', '31 St & 35 Ave',
       'S Portland Ave & Hanson Pl', 'W 22 St & 10 Ave',
       'W Broadway & Spring Street', 'Broadway & Berry St',
       'E 5 St & 2 Ave', 'Thompson St & Bleecker St',
       'Broadway & Moylan Pl', 'E 103 St & Lexington Ave',
       'Kosciuszko St & Nostrand Ave', 'Rivington St & Ridge St',
       'Washington St & Gansevoort St', 'W 37 St & 5 Ave',
       'Bank St & Washington St', 'Crescent St & 35 Ave',
       'Halsey St & Tompkins Ave', 'E 47 St & 2 Ave', nan,
       '6 Ave & W 33 St', 'E 24 St & Park Ave S',
       'Central Park S & 6 Ave', 'W 38 St & 8 Ave',
       'Park Pl & Vanderbilt Ave', 'W 17 St & 9 Ave',
       'Broadway & W 29 St', 'W 42 St & Dyer Ave',
       'Vesey Pl & River Terrace', 'E 17 St & Broadway',
       'Fulton St & William St', 'Degraw St & Smith St', '35 Ave & 37 St',
       'Division St & Bowery', 'Water - Whitehall Plaza',
       'Stanton St & Chrystie St', 'Rivington St & Chrystie St',
       'FDR Drive & E 35 St', '2 Ave & E 104 St',
       'Leonard St & Church St', '6 Ave & Canal St', 'W 37 St & 10 Ave',
       'W 26 St & 8 Ave', 'Grand Army Plaza & Plaza St West',
       'Henry St & Atlantic Ave', 'Willoughby Ave & Hall St',
       'Broadway & E 22 St', 'South St & Whitehall St',
       '31 St & Broadway', 'E 78 St & 2 Ave', 'Grand St & Havemeyer St',
       'E 118 St & Madison Ave', 'E 58 St & 3 Ave',
       'Vernon Blvd & 50 Ave', 'E 2 St & Avenue B', 'W 56 St & 10 Ave',
       'Sterling Pl & 7 Ave', 'Broadway & W 58 St',
       'Meserole Ave & Manhattan Ave', '34 Ave & 38 St',
       'W 25 St & 6 Ave', 'E 52 St & 2 Ave',
       'Lafayette Ave & Classon Ave', 'W 4 St & 7 Ave S',
       'Union St & Nevins St', 'Cliff St & Fulton St', 'W 13 St & 7 Ave',
       'Broadway & W 60 St', 'W 18 St & 9 Ave', 'E 20 St & 2 Ave',
       'Emerson Pl & Myrtle Ave', '11 St & 43 Ave',
       'Lexington Ave & E 111 St', 'Broadway & W 37 St',
       'Amsterdam Ave & W 73 St', '43 St & Broadway',
       'Atlantic Ave & Furman St', 'Broadway & W 25 St',
       'Allen St & Rivington St', 'Broadway & W 41 St',
       'DeKalb Ave & Hudson Ave', 'E 72 St & York Ave',
       'Grand St & Greene St', 'E 106 St & Madison Ave',
       '8 Ave & W 33 St', 'Bayard St & Leonard St',
       'Dean St & Franklin Ave', 'E 2 St & 2 Ave', 'E 30 St & Park Ave S',
       '5 Ave & 3 St', 'Broadway & W 49 St', 'Madison St & Montgomery St',
       'Central Park West & W 85 St', 'W 50 St & 9 Ave',
       'St James Pl & Pearl St', 'Greenwich Ave & Charles St',
       'W 45 St & 6 Ave', 'Old Slip & Front St', 'Carmine St & 6 Ave',
       'W 53 St & 10 Ave', 'Suffolk St & Stanton St',
       'Monroe St & Bedford Ave', 'N 12 St & Bedford Ave',
       'W 27 St & 7 Ave', 'Riverside Dr & W 91 St', 'E 91 St & 2 Ave',
       'E 20 St & Park Ave', 'Lefferts Pl & Franklin Ave',
       'Broadway & W 32 St', 'E 32 St & Park Ave', 'W 41 St & 8 Ave',
       'Barrow St & Hudson St', 'Lafayette Ave & Fort Greene Pl',
       'Center Blvd & 48 Ave', 'Jay St & York St', '44 Dr & 21 St',
       'Union Ave & N 12 St', 'E 7 St & Avenue A',
       'Park Pl & Franklin Ave', 'Metropolitan Ave & Bedford Ave',
       'Allen St & Hester St', 'N 11 St & Kent Ave',
       'St Nicholas Ave & Manhattan Ave', 'Bedford Ave & Bergen St',
       'Graham Ave & Herbert St', 'Newtown Ave & 23 St',
       'W 20 St & 11 Ave', '11 Ave & W 41 St', 'Lafayette St & Jersey St',
       'Bond St & Fulton St', 'Verona Pl & Fulton St',
       'Barclay St & Church St', 'Prospect Pl & Underhill Ave',
       'Classon Ave & St Marks Ave', 'Liberty St & Broadway',
       'W 52 St & 11 Ave', 'E 39 St & 3 Ave', 'Devoe St & Lorimer St',
       '9 St & 44 Rd', 'Hicks St & Montague St', 'Avenue D & E 12 St',
       'Broadway & W 56 St', 'W 16 St & The High Line',
       'Eastern Pkwy & Franklin Ave', '9 Ave & W 22 St', '5 St & 6 Ave',
       'Clinton Ave & Myrtle Ave', 'Driggs Ave & Lorimer St',
       'Great Jones St', 'Warren St & Court St', 'E 88 St & 1 Ave',
       'Hope St & Union Ave', '12 Ave & W 40 St', 'E 87 St & 3 Ave',
       'Clinton St & Joralemon St', 'E 9 St & Avenue C',
       'Berkeley Pl & 6 Ave', 'Bergen St & Flatbush Ave',
       'W 100 St & Broadway', 'Bank St & Hudson St', '28 Ave & 35 St',
       'Graham Ave & Withers St', '3 Ave & 14 St',
       'E 55 St & Lexington Ave', 'W 21 St & 6 Ave',
       'Central Park West & W 72 St', 'Norfolk St & Broome St',
       'E 102 St & 1 Ave', 'Park Pl & Church St',
       'Murray St & Greenwich St', 'E 10 St & Avenue A',
       'Carlton Ave & Flushing Ave', 'E 31 St & 3 Ave', 'E 25 St & 1 Ave',
       'Lexington Ave & E 24 St', '2 Ave & E 55 St',
       'West St & Chambers St', 'W 42 St & 8 Ave', '32 St & 30 Ave',
       '8 Ave & W 52 St', 'Jackson Ave & 46 Rd',
       'Morningside Dr & Amsterdam Ave', 'Van Brunt St & Wolcott St',
       'W 84 St & Columbus Ave', 'W 64 St & Thelonious Monk Circle',
       '3 Ave & Schermerhorn St', 'Pearl St & Hanover Square',
       'E 11 St & 1 Ave', 'Reade St & Broadway', 'E 6 St & Avenue D',
       'Banker St & Meserole Ave', 'McKibbin St & Manhattan Ave',
       'Schermerhorn St & Bond St', 'India St & Manhattan Ave',
       'Columbus Ave & W 72 St', 'Broadway & W 36 St', '2 Ave & E 96 St',
       'W 55 St & 6 Ave', '3 St & 3 Ave', 'Murray St & West St',
       'Allen St & Stanton St', 'Lispenard St & Broadway',
       'Sterling Pl & Bedford Ave', '5 Ave & E 103 St',
       'Columbus Ave & W 103 St', 'Frederick Douglass Blvd & W 117 St',
       'W 15 St & 7 Ave', 'E 23 St & 1 Ave', 'S 3 St & Bedford Ave',
       'E 81 St & York Ave', 'Stanton St & Mangin St',
       'Gansevoort St & Hudson St', 'W 15 St & 10 Ave',
       'Crescent St & 34 Ave', 'Duffield St & Willoughby St',
       'Central Park West & W 68 St', 'E 2 St & Avenue C',
       'W 95 St & Broadway', 'Nassau St & Navy St',
       'McGuinness Blvd & Eagle St', 'Forsyth St & Broome St',
       'E 12 St & Avenue B', 'Wyckoff St & 3 Ave', 'E 20 St & FDR Drive',
       'Broadway & W 53 St', 'Atlantic Ave & Fort Greene Pl',
       'E 48 St & 3 Ave', 'Mt Morris Park W & W 120 St',
       'Broadway & Battery Pl', 'E 16 St & Irving Pl', '1 Ave & E 68 St',
       'Madison St & Clinton St', 'W 54 St & 9 Ave',
       'Kosciuszko St & Tompkins Ave', 'Park Ave & Marcus Garvey Blvd',
       'Broadway & Whipple St', 'W 24 St & 7 Ave', '3 St & 7 Ave',
       'Frost St & Meeker St', 'E 88 St & Park Ave',
       'Franklin Ave & Myrtle Ave', 'W 90 St & Amsterdam Ave',
       'W 116 St & Broadway', 'Court St & State St',
       'Douglass St & 3 Ave', 'E 15 St & 3 Ave', '6 St & 7 Ave',
       'E 109 St & 3 Ave', 'E 10 St & 5 Ave', 'W 27 St & 10 Ave',
       'Lenox Ave & W 117 St', 'W 87 St & Amsterdam Ave',
       'E 84 St & 1 Ave', 'Schermerhorn St & Court St',
       'Leonard St & Boerum St', 'E 5 St & Avenue C', 'E 44 St & 2 Ave',
       'Willoughby St & Fleet St', 'Albany Ave & Fulton St',
       'E 39 St & 2 Ave', 'E 81 St & 2 Ave', 'Columbus Ave & W 95 St',
       'Leonard St & Maujer St', 'Carlton Ave & Dean St',
       'W 59 St & 10 Ave', 'W 63 St & Broadway', 'Carroll St & Smith St',
       '1 Pl & Clinton St', 'E 84 St & Park Ave',
       'Union Ave & Jackson St', 'Hanson Pl & Ashland Pl',
       'E 116 St & 2 Ave', 'Bayard St & Baxter St', '5 Ave & E 93 St',
       'Fulton St & Utica Ave', 'E 65 St & 2 Ave',
       'Bushwick Ave & Powers St', 'Amsterdam Ave & W 79 St',
       'Montgomery St & Franklin Ave', 'Clermont Ave & Lafayette Ave',
       'Broadway & W 38 St', 'Myrtle Ave & Marcy Ave', 'E 81 St & 3 Ave',
       '6 Ave & Spring St', 'E 118 St & 1 Ave', '5 Ave & E 73 St',
       '31 Ave & Steinway St',
       '39 St & 2 Ave - Citi Bike HQ at Industry City',
       'Kent Ave & N 7 St', '21 St & 36 Ave', '6 Ave & 12 St',
       'E 123 St & Lexington Ave', 'W 110 St & Amsterdam Ave',
       'W 70 St & Amsterdam Ave', 'Fulton St & Clermont Ave',
       'W 104 St & Amsterdam Ave', 'E 102 St & Park Ave',
       'E 74 St & 1 Ave', 'W 92 St & Broadway', 'Berry St & N 8 St',
       'W 67 St & Broadway', '8 Ave & W 31 St',
       'Cadman Plaza E & Tillary St', 'E 27 St & 1 Ave',
       'St. Nicholas Ave & W 126 St', 'Myrtle Ave & Lewis Ave',
       '3 Ave & E 112 St', '31 Ave & Crescent St',
       'Tompkins Ave & Hopkins St', 'Driggs Ave & N Henry St',
       'E 85 St & York Ave', 'Columbia St & Kane St',
       'W 84 St & Broadway', 'Lexington Ave & E 63 St', 'W 52 St & 6 Ave',
       'Greene Ave & Nostrand Ave', 'Nassau Ave & Russell St',
       'E 58 St & 1 Ave', 'W 43 St & 6 Ave', 'E 91 St & Park Ave',
       'E 51 St & 1 Ave', 'W 46 St & 11 Ave', '3 Ave & E 71 St',
       'E 97 St & 3 Ave', '28 Ave & 44 St', 'E 19 St & 3 Ave',
       'W 106 St & Amsterdam Ave', 'Fulton St & Waverly Ave',
       'W 12 St & W 4 St', 'Vernon Blvd & 30 Rd', 'Front St & Gold St',
       'Underhill Ave & Pacific St', 'Pacific St & Classon Ave',
       'Clinton St & Union St', 'DeKalb Ave & S Portland Ave',
       'Richardson St & N Henry St', 'Amsterdam Ave & W 66 St',
       'W 89 St & Columbus Ave', 'Hudson St & Reade St',
       'E 110 St & Madison Ave', 'Mercer St & Spring St',
       'Watts St & Greenwich St', 'W 107 St & Columbus Ave',
       'W 11 St & 6 Ave', 'Washington Pl & Broadway',
       'W 100 St & Manhattan Ave', 'Butler St & Court St',
       'S 4 St & Rodney St', 'Cadman Plaza E & Red Cross Pl',
       'Amsterdam Ave & W 119 St', '48 Ave & 30 Pl',
       'Vernon Blvd & 10 St', 'South St & Gouverneur Ln',
       'Central Park West & W 76 St', '21 St & Hoyt Ave S', 'Cherry St',
       'E 85 St & 3 Ave', 'Lafayette Ave & St James Pl',
       'Huron St & Franklin St', 'Carroll St & Bond St',
       'Madison Ave & E 120 St', 'E 114 St & 1 Ave', 'Washington Park',
       'E 16 St & 5 Ave', '3 St & Prospect Park West',
       'Laight St & Hudson St', '3 Ave & E 95 St',
       'Broadway & Roebling St', 'E 97 St & Madison Ave',
       'Adam Clayton Powell Blvd & W 126 St', 'Steinway St & 23 Ave',
       'Franklin St & W Broadway', 'W 116 St & Amsterdam Ave',
       'Lexington Ave & E 120 St', 'Franklin St & Dupont St',
       'E 76 St & 3 Ave', 'Graham Ave & Conselyea St', '2 Ave & 9 St',
       'Pitt St & Stanton St', 'W 26 St & 10 Ave', 'Broadway & W 122 St',
       '27 Ave & 4 St', 'Market St & Cherry St', 'Lenox Ave & W 130 St',
       'Hancock St & Bedford Ave', 'West End Ave & W 107 St',
       'Pleasant Ave & E 120 St', 'Lexington Ave & E 29 St',
       'Fulton St & Adams St', 'E 45 St & 3 Ave', 'N 15 St & Wythe Ave',
       '4 Ave & 9 St', 'E 33 St & 5 Ave', 'W 76 St & Columbus Ave',
       'Baltic St & 5 Ave', 'John St & William St',
       'Maiden Ln & Pearl St', '27 Ave & 9 St',
       'E 115 St & Lexington Ave', 'Dean St & Hoyt St',
       'E 72 St & Park Ave', 'W 43 St & 10 Ave', 'Carlton Ave & Park Ave',
       'Union Ave & Wallabout St', 'E 82 St & East End Ave',
       '1 Ave & E 110 St', '45 Rd & 11 St', 'E 53 St & Madison Ave',
       'Humboldt St & Varet St', '27 St & Hunter St', '3 Ave & E 100 St',
       'West End Ave & W 94 St', 'Newton Rd & 44 St',
       'Carroll St & Franklin Ave', 'E 48 St & 5 Ave',
       'W 88 St & West End Ave', 'Putnam Ave & Nostrand Ave',
       'Henry St & Grand St', 'Richards St & Delavan St',
       'DeKalb Ave & Vanderbilt Ave', 'Putnam Ave & Throop Ave',
       'Rogers Ave & Sterling St', '34 St & 35 Ave', '35 St & 34 Ave',
       'W 106 St & Central Park West', 'Lexington Ave & Classon Ave',
       'E 51 St & Lexington Ave', 'Central Park W & W 96 St',
       '2 Ave & E 99 St', 'Smith St & 9 St', 'Madison Ave & E 99 St',
       'E 68 St & Madison Ave', 'Pike St & Monroe St',
       'Greene Ave & Throop Ave', 'Coffey St & Conover St',
       'E 93 St & 2 Ave', 'Bond St & Bergen St', '31 St & Thomson Ave',
       '31 St & Astoria Blvd', 'Riverside Dr & W 104 St', '10 St & 7 Ave',
       'Catherine St & Monroe St', 'E 47 St & 1 Ave',
       'Wolcott St & Dwight St', 'Carroll St & Washington Ave',
       'Bialystoker Pl & Delancey St', 'Duane St & Greenwich St',
       '9 Ave & W 28 St', 'Riverside Dr & W 72 St',
       'E 58 St & Madison Ave', 'Lexington Ave & E 127 St',
       'Clinton Ave & Flushing Ave', '14 St & 7 Ave',
       'Harrison St & Hudson St', '28 St & 38 Ave',
       'Steinway St & 28 Ave', 'St Johns Pl & Washington Ave',
       'Myrtle Ave & St Edwards St', '4 Ave & 2 St',
       'Adelphi St & Myrtle Ave', '14 St & 5 Ave',
       'Perry St & Bleecker St', 'Cumberland St & Lafayette Ave',
       'E 68 St & 3 Ave', 'Adam Clayton Powell Blvd & W 115 St',
       'Jackson St & Leonard St', 'Columbia St & Rivington St',
       'President St & Henry St', 'Marcus Garvey Blvd & Macon St',
       '5 Ave & E 78 St', 'E 11 St & Broadway', 'Degraw St & Hoyt St',
       'Front St & Maiden Ln', 'W 82 St & Central Park West',
       'E 115 St & Madison Ave', 'NYCBS Depot - GOW', '1 Ave & E 44 St',
       'North Moore St & Greenwich St', 'E 106 St & 1 Ave',
       'E 128 St & Madison Ave', 'Sterling St & Bedford Ave',
       'Crescent St & Broadway', 'Carroll St & 6 Ave', '3 Ave & E 72 St',
       'E 81 St & Park Ave', '28 St & 36 Ave', 'E 76 St & Park Ave',
       'Amsterdam Ave & W 125 St', 'E 89 St & York Ave',
       'Henry St & Degraw St', '46 Ave & 5 St', 'Riverside Dr & W 82 St',
       'E 98 St & Park Ave', 'E 75 St & 3 Ave', 'Nassau Ave & Newell St',
       'Washington Ave & Greene Ave', 'Clermont Ave & Park Ave',
       '35 Ave & 10 St', 'Lenox Ave & W 126 St', '37 St & 24 Ave',
       'Clark St & Henry St', 'Pioneer St & Richards St',
       'Grand Ave & Bergen St', 'Carroll St & Columbia St',
       '28 St & 41 Ave', 'Scholes St & Manhattan Ave',
       'Milton St & Franklin St', 'W 52 St & 5 Ave',
       'Riverside Blvd & W 67 St', 'Greenpoint Ave & Manhattan Ave',
       'Lincoln Pl & Classon Ave', 'Kane St & Clinton St',
       'Garfield Pl & 8 Ave', 'E 41 St & Madison Ave', '34 Ave & 21 St',
       '5 Ave & E 88 St', 'Prospect Pl & 6 Ave',
       'DeKalb Ave & Skillman St', '31 Ave & 14 St',
       'Front St & Washington St', 'E 43 St & 5 Ave', '24 Ave & 26 St',
       'Pershing Square South', 'Frederick Douglass Blvd & W 112 St',
       'Central Park North & Adam Clayton Powell Blvd',
       'India St & West St', 'Broad St & Bridge St', '10 St & 5 Ave',
       'Lewis Ave & Kosciuszko St', 'W 78 St & Broadway',
       'Central Park West & W 100 St', '7 St & 5 Ave',
       'Monroe St & Tompkins Ave', 'Pearl St & Anchorage Pl',
       '28 St & 40 Ave', 'Clinton St & Tillary St',
       'William St & Pine St', 'Washington Ave & Park Ave',
       '31 St & Northern Blvd', 'Vernon Blvd & 31 Ave', 'W 18 St & 6 Ave',
       'Congress St & Clinton St', 'Astoria Park S & Shore Blvd',
       'Eckford St & Engert Ave', 'Monroe St & Classon Ave',
       'Crescent St & Ditmars Blvd', 'Riverside Dr & W 78 St',
       'W 129 St & Convent Ave', 'Brooklyn Bridge Park - Pier 2',
       'Broadway & 12 St', 'Throop Ave & Myrtle Ave',
       'Cambridge Pl & Gates Ave', 'Greenwich St & W Houston St',
       'E 59 St & Madison Ave', 'E 71 St & 2 Ave', 'Berkeley Pl & 7 Ave',
       '12 St & 4 Ave', 'Columbia St & Lorraine St',
       'Kingston Ave & Herkimer St', '7 St & 3 Ave',
       'Central Park West & W 102 St', 'State St & Smith St',
       '21 St & 43 Ave', 'Concord St & Bridge St', '2 Ave & E 122 St',
       '47 Ave & 31 St', 'W 113 St & Broadway', 'Kent Ave & S 11 St',
       'Henry St & W 9 St', '19 St & 24 Ave', 'Hoyt St & Warren St',
       'Clinton St & Centre St', 'Jay St & Tech Pl', 'E 47 St & Park Ave',
       'Columbia St & Degraw St', 'Marcy Ave & Lafayette Ave',
       'Bedford Ave & S 9 St', 'Leonard St & Nassau Ave',
       'W 120 St & Claremont Ave', 'Sullivan Pl & Bedford Ave',
       'E 106 St & Lexington Ave', '48 Ave & 5 St',
       'Commerce St & Van Brunt St', 'Frederick Douglass Blvd & W 129 St',
       'E 67 St & Park Ave', '5 Ave & E 126 St',
       'Adam Clayton Powell Blvd & W 123 St', '31 Ave & 30 St',
       'E 66 St & Madison Ave', 'Sigourney St & Columbia St',
       'Plaza St West & Flatbush Ave', 'Van Brunt St & Van Dyke St',
       'Clinton St & 4 Place', 'Union St & Bedford Ave',
       'E 60 St & York Ave', 'University Pl & E 8 St',
       'Nostrand Ave & Myrtle Ave', 'Park Ave & E 124 St',
       'Willoughby Ave & Walworth St', 'Division Ave & Marcy Ave',
       'Columbia Heights & Cranberry St', 'Boerum St & Broadway',
       'Lorimer St & Broadway', 'East End Ave & E 86 St',
       '34 Ave & 13 St', '21 St & 31 Dr', '21 St & 38 Ave',
       'Pacific St & Nevins St', 'E 118 St & Park Ave',
       'Vernon Blvd & 41 Rd', 'Henry St & Poplar St',
       'Lewis Ave & Madison St', 'Pulaski St & Marcus Garvey Blvd',
       'Madison Ave & E 82 St', 'Morningside Ave & W 123 St',
       'Dwight St & Van Dyke St', 'Lewis Ave & Decatur St',

Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"?

In [224]:
list1 = []
for i in bicycle_list['start station name'].unique():
    item = (i, bicycle_list[bicycle_list['start station name']==i].shape[0])
    list1.append(item)
uniquelist = pd.DataFrame(
    list1,
    columns=['Name', 'Number']
).sort_values(by='Number', ignore_index=True)
display(uniquelist)

                                  Name  Number
0                                  NaN       0
1        Eastern Pkwy & Washington Ave       6
2                47 Ave & Skillman Ave       7
3               Railroad Ave & Kay Ave       9
4           Franklin Ave & Empire Blvd      11
..                                 ...     ...
755              West St & Chambers St    1835
756                   12 Ave & W 40 St    1845
757              Pershing Square North    1873
758             Central Park S & 6 Ave    1909
759  Grand Army Plaza & Central Park S    1928

[760 rows x 2 columns]

In [225]:
bicycle_list.describe(include=object)

,starttime,stoptime,start station name,end station name,usertype
count,300000,300000,299831,299831,300000
unique,299836,299813,759,765,2
top,2018-09-02 13:59:41.7770,2018-09-04 17:51:07.9110,Grand Army Plaza & Central Park S,West St & Chambers St,Subscriber
freq,2,2,1928,1963,232202

In [226]:
bicycle_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [227]:
bicycle_list=bicycle_list.drop(['start station id', 'end station id'], axis=1)

In [228]:
bicycle_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [229]:
bicycle_list['age'] = 2018 - bicycle_list['birth year']
bicycle_list = bicycle_list.drop('birth year', axis=1)

In [230]:
bicycle_list[bicycle_list['age']>60].shape[0]

11837

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и временем её начала (starttime) в секундах. Рассчитайте среднее значение по новому столбцу — среднюю длительность поездки, а затем переведите её в секунды. Ответ округлите до целого.

In [231]:
bicycle_list['stoptime'] = pd.to_datetime(bicycle_list['stoptime'], dayfirst=False)
bicycle_list['starttime'] = pd.to_datetime(bicycle_list['starttime'], dayfirst=False)
bicycle_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(3)
memory usage: 27.5+ MB

In [232]:
bicycle_list['trip duration'] = bicycle_list['stoptime'] - bicycle_list['starttime']
bicycle_list

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,0 days 00:07:23.648000
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,0 days 00:11:33.138000
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,0 days 00:05:12.997000
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,0 days 00:56:00.092000
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,0 days 00:03:45.051000

In [238]:
bicycle_list['trip duration'].mean().seconds

1126